cluster.name: {{ elk_cluster_name }}
node.name: {{ inventory_hostname }}
path.data: /var/lib/elasticsearch
path.logs: /var/log/elasticsearch
network.host: 0.0.0.0
http.port: 9200
discovery.seed_hosts: ["{{ groups['db_servers'][0] }}"]
cluster.initial_master_nodes: ["{{ groups['db_servers'][0] }}"]
